nav{
    display: flex;
    background-color: rgb(47, 80, 141);
    width: 100%;
    padding: 20px;
    justify-content: center;
}
nav ul li{
    display: inline;
    padding: 20px;
    margin: 15px;
}
nav ul li:hover{
    background-color: rgb(92, 125, 185);
    transition-duration: .2s;
}
nav ul li a{
    color: white;
    text-decoration: none;
}